<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Allow Arbitrary Loads</key>
	<true/>
	<key>Allow Arbitrary Loads in Web Content</key>
	<true/>
	<key>NSAllowsLocalNetworking</key>
	<true/>
	<key>NSUserNotificationUsageDescription</key>
	<string>구독 서비스 결제일을 알려드리기 위해 알림 권한이 필요합니다</string>
</dict>
</plist>
